*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: #040414;
    color: #ffffff;
}
nav{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#111517;
    position: fixed;
    top: 0;
    width: 100%;
}
.message a{
    padding: 0px 20px;
    text-decoration: none;
}
.contact a{
    text-decoration: none;
    color: #ffffff;
    padding:10px 30px;
     border-radius: 20px;
    background-color: orangered;
    margin-right: 1em;
}
.student_info{
    margin-top: 80px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.student_btn{
    background-color: #0d6ffb;
}
.infoBtn{
    color: #ffffff;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
}
.infoBtn:hover{
    background-color: #000000;
}
.studentCard{
    margin-top: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cardDiv{
    display: flex;
    align-items: center;
    gap:20px;
    border-radius: 20px;
    width:360px;
    max-width: 500px;
    padding: 20px;
    flex-wrap: wrap;
    text-align: justify;
    background: #32283c;
    transition: .25s transform ease-in-out;
}
.cardDiv:hover{
    transform: scale(1.091);
}
.studentImage{
    border: 5px solid #961bbbcd;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
.btnDiv{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.apprejbtn{
    background-color: #FF0000;
    color: #ffffff;
    padding: 10px 40px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}
.approveStudent{
    display: none;
}
